.harry-container{
  top: calc(50% - 256px);
  left: calc(50% - 256px);
  position: absolute;
}

.harry{
  max-width: 130%;
  height: auto;
}

.trust-text{
  font-size: 75px;
  margin-top: 0px;
  font-family: impact;
  color: goldenrod;
  text-align: center;
  position: relative;
  max-width: 100%;
}

.andre{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 70%;
}

img.andre:hover{
  opacity: 0.5;
}

.button-text{
  font-size: 50px;
  margin-top: 0px;
  font-family: impact;
  text-align: center;
  max-width: 100%;
  height: auto;
}
